[submodule "BitBoarding2/Assets/Scripts/ModularUnityScripts"]
	path = BitBoarding2/Assets/Scripts/ModularUnityScripts
	url = https://github.com/LimeBlossom/ModularUnityScripts.git
[submodule "BitBoarding2Re/Assets/Scripts/ModularUnityScripts"]
	path = BitBoarding2Re/Assets/Scripts/ModularUnityScripts
	url = https://github.com/LimeBlossom/ModularUnityScripts.git
